<div class="chat-item">
  <div class="chat-item__avatar"></div>

  <div class="chat-item__text">
    <div class="chat-item__text-name">
      {{ title }}
    </div>
    <div class="chat-item__text-msg">
      {{ last_message }}
    </div>
  </div>
  <div class="chat-item__metainfo">
    <div class="chat-item__metainfo-time">
      {{ time }}
    </div>
    <div class="chat-item__metainfo-count">
      {{ unread_count }}
    </div>
  </div>
</div>
