<main class="chat">
  <section class="chat-left">
    <div class="chat-head">
      <div class="chat-head__profile">
        <a page="profile">
          Профиль >
        </a>
      </div>
      <div class="chat-head__search">
        <input type="text" placeholder="Поиск">
      </div>
    </div>
    <div class="chat-content">
      {{> ChatItem }}
    </div>
  </section>
  <section class="chat-right">
    {{!-- <div class="chat-default">
      Выберите чат чтобы отправить сообщение
    </div> --}}
    <div>
      {{> ChatOnline}}
    </div>
  </section>
</main>

