@import url("./reset.scss");
@import url("./fonts.scss");

:root {
  --base-blue: #3369F3;
  --blue-1: #E4EDFD;
  --grey-1: #999;
  --grey-2: #efefef;
  --grey-3: #EAEAEA;
  --grey-4: #F8F8F8;
  --black-1: #1E1E1E;
}

body {
  font-family: 'Roboto';
}
