<main class="profile">
  <section class="profile-back">
    {{>Back href="/"}}
  </section>
  <section class="profile-content">
    <div class="profile-container">
      {{{ Avatar }}}

      <form class="profile-form">
        <div class="profile-fields">
          {{> @partial-block }}
        </div>

        <div class="profile-controls">
          {{{ Button label="Cохранить" onClick=onClick }}}
        </div>
      </form>
    </div>
  </section>
</main>
