<div class="chat-item">
  <div class="chat-item__avatar"></div>

  <div class="chat-item__text">
    <div class="chat-item__text-name">
      Андрей
    </div>
    <div class="chat-item__text-msg">
      Друзья, у меня для вас особенный выпуск новостей! Я хочу вам сказать.
    </div>
  </div>
  <div class="chat-item__metainfo">
    <div class="chat-item__metainfo-time">
      10:49
    </div>
    <div class="chat-item__metainfo-count">
      2
    </div>
  </div>
</div>

<link rel="stylesheet" href="/partials/chatItem.scss">
